@import 'bourbon/bourbon';
$visual-grid: true;
@import 'neat/neat';

* {
  margin: 0;
}
form {
  @include span-columns(12);
}

.background {
  background-color: #6f6f6f;
  height: 50em;
}

.background h1 {
  @include outer-container;
  @include span-columns(2);
  @include shift(5);
  margin-top: 2em;
  text-align: center;
}

.inercon {
  @include span-columns(4);
  @include shift(4);
  border-radius: 40px;
  background-color: #00518d;
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.display {
  max-width: 100%;
}

.rowone,
.rowtwo,
.rowthree,
.rowfour {
  padding: 4px;
}

button {
  @include button(shiny, #ed0e00);
  }
