@import 'bourbon/bourbon';
/* \$visual-grid: true; */
@import 'neat/neat';

form {
  @include span-columns(12);
}

.inercon {
  @include span-columns(4);
  @include shift(4);
  border-radius: 40px;
  background-color: #00518d;
  padding: 15px;
  text-align: center;
}

.display {
  max-width: 100%;
}

.rowone,
.rowtwo,
.rowthree,
.rowfour {
  padding: 4px;
}

button {
  @include button(shiny, #ed0e00);
  }
